Package: ai.paisseon.reverie
Name: Reverie
Author: paisseon
Description: Let your iPhone daydream
Maintainer: paisseon
Version: 1.4
Depends: firmware (>= 13.0), mobilesubstrate, com.creaturecoding.crux
Conflicts: com.megadev.sentinel, love.litten.puck
Architecture: iphoneos-arm
Icon: https://i.imgur.com/oF8M1mG.png
SileoDepiction: https://paisseon.github.io/info/reverie.json
