<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with 💖 by paisseon</string>
			<key>label</key>
			<string>Reverie</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie/ReloadPrefs</string>
			<key>alternateColors</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Sleep when %</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>SleepPercent</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wake when %</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>WakePercent</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sleep Now</string>
			<key>action</key>
			<string>reverieSleep:</string>
		</dict>

	</array>
	<key>title</key>
	<string>Reverie</string>
</dict>
</plist>
