<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkHeaderColor</key>
	<string>#ffffff</string>
	<key>darkTextColor</key>
	<string>#000000</string>
	<key>headerColor</key>
	<string>#000000</string>
	<key>headerFontPath</key>
	<string>/Library/Application Support/Pokebox/silkscreen.ttf</string>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>throttleCPU</string>
			<key>label</key>
			<string>Throttle CPU</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>viewOnPower</string>
			<key>label</key>
			<string>Reverie OLED View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Sleep Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>7</integer>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>sleepPercent</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wake Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>ai.paisseon.reverie</string>
			<key>key</key>
			<string>wakePercent</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>ai.paisseon.reverie/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reverieSleep:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sleep Now</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>
What is it that you want to see?
I shall show it to you.

What is it that you want to hear?
I shall tell you about it.

But please don't expect anything.
For you who close your eyes and cover your ears, it is meaningless.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>github</key>
			<string>reverie</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>View on GitHub</string>
		</dict>
	</array>
	<key>name</key>
	<string>Reverie</string>
	<key>subtitle</key>
	<string>Advanced hibernation mode</string>
	<key>textColor</key>
	<string>#ffffff</string>
</dict>
</plist>
